name: Crypto ELT Daily Pipeline

on:
  schedule:
    - cron: '0 12 * * *'
  workflow_dispatch:

jobs:
  run-pipeline:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Create Google Credentials File
      run: |
        echo '${{ secrets.GCP_SA_KEY }}' > google_keys.json

    - name: Run Extraction and Load to BigQuery
      run: python extract_data.py

    - name: Run dbt Transformation
      run: |
        dbt run --profiles-dir . --project-dir .
      env:
        # Esto le dice a dbt que use el archivo de llaves que creamos arriba
        GCP_PROJECT: crypto-pipeline-2025
        GCP_KEYFILE: google_keys.json